
:root {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text-output {
  display: flex;
  gap: 20px;
}

.result, .turn {
  border: 1px solid black;
  width: 170px;
  height: 20px;
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.default-border {
  border: 1px solid black;
}

.board-container > div:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.addXStyle::after {
  content: "X";
}

.addXStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.addOStyle::after{
  content: "O";
}

.addOStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.match-pattern {
  border: 3px solid rgb(22, 9, 208);
}