
:root {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.setup-wrapper {
  border: 1px solid black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.players-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.x, .o {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.3rem;
}

.players-input span {
  color: rgb(46, 37, 223);
  font-weight: bold;
}

.start {
 width: 150px;
 height: 40px;
 font-size: 1rem;
}

input[type=text]#playerX,
input[type=text]#playerO {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  color: rgb(37, 21, 21);
}

input[type=text]#playerX.invalid-input-style,
input[type=text]#playerO.invalid-input-style {
  border-bottom: 1px solid red;
}

input[type=text]#playerX:focus,
input[type=text]#playerO:focus {
  outline: none;
}

span.error-text {
  color: red;
  font-size: 1rem;
  font-weight: 100;
}

.error-text {
  visibility: hidden;
}

.text-output {
  display: flex;
  gap: 20px;
}

.result {
  border: 1px solid black;
  width: 170px;
  height: 20px;
  text-align: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.default-border {
  border: 1px solid black;
}

.board-container > div:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.addXStyle::after {
  content: "X";
}

.addXStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.addOStyle::after{
  content: "O";
}

.addOStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.match-pattern {
  border: 3px solid rgb(22, 9, 208);
}