body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.board-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.board-container > div {
  border: 1px solid black;
}

.board-container > div:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.addXStyle::after {
  content: "X";
}

.addXStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.addOStyle::after{
  content: "O";
}

.addOStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.match-pattern {
  outline: 2px solid green;
}